.Content1
{
    display: block;
    width:1024px; 
    height:768px;
    margin: 0 auto;
    text-align: left;
    font-size: 0px;
    background-color: rgb(103, 156, 224);
}
.Content2
{
    display:table;
    width:1024px; 
    height:64px;
    text-align: center;
    font-size: 0px;
    background-color: rgb(47, 116, 206);
}
.Content3
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}
.Content4
{
    display: block;
    width:1024px; 
    height:640px;
    font-size: 0px;
    background-color: rgb(103, 156, 224);
}
.Content5
{
    display: inline-block;
    text-align: center;
    font-size: 16px;
}
.Content6
{
    display:block;
    width:1024px; 
    height:64px;
    text-align: center;
    font-size: 0px;
    background-color: rgb(47, 116, 206);
}
.Content7
{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}

.Font1
{
    display: inline;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.Font2
{
    display: block;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.Player1
{
    display: table;
    width:320px; 
    height:88px;
    border: 1px solid;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(235, 235, 235);
}
.Player2
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.Relative
{
    position: relative;
    text-align: center;
}
.Absolute
{
    position: absolute;
    top: 50%;
    left: 50%;
}
.InputText
{
    width:256px; 
    height:32px;
    font-size:12pt;
    font-family : inherit;
}
.InputButton1
{
    width:64px; 
    height:32px;
    border: 1px solid;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
}
.InputButton1:active
{
    background-color: rgb(200, 200, 200);
}
.InputButton2
{
    width:128px; 
    height:128px;
    border: 1px solid;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
}
.InputButton2:active
{
    background-color: rgb(200, 200, 200);
}
.InputButton3
{
    width:256px; 
    height:64px;
    border: 1px solid;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
}
.InputButton3:active
{
    background-color: rgb(200, 200, 200);
}
body
{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}
